/**
 * Dashbord Container
 */

.dashboard {
  height: 92vh;
  margin: 2% 10% 2% 10%;
  border-radius: 20px;
  background-color: $background-primary;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
