/**
 * Main Menu
 */

.menu {
  height: 100%;
  border-radius: 20px 0 0 20px;
  background-color: $background-secondary;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  font-size: 14px;

  @media (max-width: $portrait-screen) {
    position: absolute;
    z-index: 999;
    width: 100%;
    min-width: 230px;
    padding-top: 0;
    transform: translate(-100%);
    transition: transform 200ms linear;

    &-mobile--open {
      transform: translateX(0);
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__content {
    @media (max-width: $portrait-screen) {
      padding-top: 15px;
      width: 70%;
      height: 100%;
      background-color: $background-secondary;
    }
  }

  &__logotipo-area {
    display: flex;
    align-items: center;
    padding-bottom: 5%;
    @media (max-width: $portrait-screen) {
      border-bottom: 1px solid $divisor;
    }
  }

  &__app-title {
    font-size: 1.7em;
    align-self: center;

    @media (max-width: $portrait-screen) {
      font-size: 1.7em;
    }
  }

  &__links {
    display: flex;
    flex-flow: column wrap;
    padding-top: 30%;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: "Inter", sans-serif !important;
      color: $gray-dark;
      height: 50px;
      width: 80%;
      padding-left: 10%;
      border-radius: 0 10px 10px 0;

      @media (max-width: $menu-break) {
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
      }

      @media (max-width: $portrait-screen) {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 15px;
      }
    }

    a svg {
      fill: $gray-dark;
      margin-right: 5%;
    }

    a:hover {
      transition: color 300ms;
      color: white;

      svg {
        transition: fill 300ms;
        fill: white;
      }
    }

    .menu__item--selected {
      color: white;
      background-color: $blue-light;

      svg {
        fill: white;
      }
    }

    @media (max-width: $portrait-screen) {
      padding-top: 25px;
    }
  }

  &__menu-hamburger {
    visibility: hidden;
    @media (max-width: $portrait-screen) {
      visibility: visible;
      display: inline-block;
      margin-left: 15px;
      margin-right: 5px;
    }
  }
}
