/**
 * Main Menu
 */

.menu {
  height: inherit;
  border-radius: 20px 0 0 20px;
  background-color: $background-secondary;
  display: flex;
  flex-direction: column;
  padding-top: 20%;

  &__app-title {
    font-size: 1.7em;
    align-self: center;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30%;

    a {
      display: flex;
      align-items: center;
      font-family: "Inter", sans-serif !important;
      color: $gray-dark;
      height: 50px;
      width: 80%;
      padding-left: 10%;
      border-radius: 0 10px 10px 0;
    }

    a svg {
      fill: $gray-dark;
      margin-right: 5%;
    }

    a:hover {
      transition: color 300ms;
      color: white;

      svg {
        transition: fill 300ms;
        fill: white;
      }
    }

    .menu__item--selected {
      color: white;
      background-color: $blue-light;

      svg {
        fill: white;
      }
    }
  }
}
