/**
 * Search area
 */

.search-area {
  &__input-search {
    background-image: url("../../img/search.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
    color: white;
    background-color: $background-primary;
    border: none;
    width: 50vw;
    margin-bottom: 20px;
    @media (max-width: $portrait-screen) {
      transform: translateX(-999999px);
    }
    @media (max-width: $portrait-screen) {
      transform: translateX(-999999px);
    }
  }
}
