/**
 * Tasks List
 */

.tasks-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $tasks-break) {
    grid-template-columns: none;
  }

  h2 {
    font-family: "Inter", sans-serif !important;
    font-size: 1.3em;
  }

  .task-container {
    height: 60vh;
    min-height: 285px;
    margin-right: 10px;

    .--task-container-scroll {
      height: 60vh;
      min-height: 285px;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    @media (max-width: $tasks-break) {
      &:nth-child(2) {
        position: absolute;
        transform: translateX(-99999px);
      }
    }
  }
}
