$blue-light: #3f8cff;
$gray-dark: #808191;

$background-primary: #1f1f1f;
$background-secondary: #1a1a1a;
$background-component: #242731;
$divisor: #e4e4e44f;

$portrait-screen: 600px;
$menu-break: 960px;
$input-break: 925px;
$tasks-break: 760px;
